---
import MainLayout from '@layouts/MainLayout.astro';
import ProjectCard from '@components/pages/ProjectCard.astro';
import '@styles/components/pages/projects.css';
import '@styles/components/shared/grid.css';
import '@styles/components/projects/background.css';

// Static projects data
const projectsList = [
  {
    title: "SNMP monitoring app",
    date: "2025-04-15",
    description: "Network monitoring application that uses SNMP protocol to track and visualize network device metrics and performance data.",
    technologies: ["Flask", "pysnmp", "SNMP"],
    href: "https://github.com/youssefnoob003/Snmp-app"
  },
  {
    title: "SIEMzello",
    date: "2025-.-.",
    description: "AI powered SIEM solution created as part of a university project. It's still in development and not yet available for public use.",
    technologies: ["React/Vue.js", "Cisco", "Prometheus", "Grafana"],
    href: "https://github.com/SIEMZello"
  },
  {
    title: "SynapseAI",
    date: "2025.05.09",
    description: "Innovative AI-powered employee monitoring solution designed to enhance productivity and security in the workplace, developed as part of a hackathon challenge where it earned its first place. It leverages advanced AI algorithms to analyze employee behavior, detect anomalies, and display them in a graphical node-based interface.",
    technologies: ["Flask", "HogMail", "Gpt4All", "D3.js"],
    href: "https://github.com/SIEMZello"
  },
  {
    title: "MedZello",
    date: "2024-11-24",
    description: "Full network architecture for a hospital, including VLANs, subnets, and security measures. Designed as part of a hackathon and easilly earned us the 4th place.",
    technologies: ["Cisco", "LaTeX"],
    href: "https://drive.google.com/drive/folders/1Oi2vcnLEOw2d46dRemCJv5ZUFEzKp2k5?usp=sharing"
  },
  {
    title: "Carya.tn",
    date: "2024-02-15",
    description: "Car rental platform designed to make your car rental experience seamless and enjoyable.",
    technologies: ["PHP", "Symphony", "MySQL"],
    href: "https://github.com/Jozziiff/Carya.tn"
  },
  {
    title: "Book-Library",
    date: "2022-08-15",
    description: "Book management system that allows users to manage their book collections, including adding, editing, and deleting books.",
    technologies: ["C#", ".NET Core", "MySQL", "Angular"],
    href: "https://github.com/youssefnoob003/Book-Library"
  },
  {
    title: "Tournament C",
    date: "2022-02-15",
    description: "Tournament management system that allows users to create, manage, and participate in tournaments.",
    technologies: ["C#", "TSQL", "MySQL", ".NET"],
    href: "https://github.com/youssefnoob003/Tournament-C-"
  },
  // Add more projects here as needed
];

---
<MainLayout title="Projects - Network & Security Portfolio">
  <div>
    <h1 class="page-title">Featured Projects</h1>
    <div>
      {projectsList.map(project => (
        <ProjectCard project={project} isLink={true} />
      ))}
    </div>
  </div>
</MainLayout>