---
import Section from '@components/Section.astro';
import ContactForm from '@components/ContactForm.astro';
import '../styles/components/contact.css';
---

<Section id="contact" title="Contact">
  <ContactForm id="contactForm" />
</Section>