---
import '../styles/components/footer.css';
---

<footer class="footer">
  <img src="/images/annoying1.gif" alt="Pixel Dog" class="dog-image">
  <img src="/images/annoying2.gif" alt="" class="preload-image" aria-hidden="true">
  <div class="footer-text">
    * Stay determined!<br>
    <span>* [SAVE] point reached.</span><br>
    * HP fully restored.
  </div>
</footer>