---
import Section from '@components/Section.astro';
import '../styles/components/projects.css';

---

<Section id="projects" title="Featured Projects">
  <div class="projects-intro">
    <p>
      Through my home laboratory environment, I develop and test various <span class="name-highlight">security solutions</span>, helping me better understand complex concepts I'm studying. These projects often involve setting up security infrastructure, testing various attack scenarios, and implementing robust defensive measures.
    </p>
    <div class="projects-actions">
      <a href="/projects" class="action-button">All Projects</a>
      <a href="/labs" class="action-button">View Labs</a>
    </div>
  </div>
</Section>